*.apk
*.ap_
*.dex
*.class
*.iml
*.aar
*.zip
.gradle
/local.properties
/.idea
.DS_Store
bin
gen
out
/build
release/
build
debug
/captures
.externalNativeBuild
.cxx
.vscode
.project
.settings
.classpath
google-services.json
.idea/
.idea/*
local.properties
*.log
output.json
*.jks
*.keystore
*.hprof
